body{
    background-image: url("http://www.planwallpaper.com/static/images/518151-backgrounds_W3qVPu2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contain{
    width:600px;
    margin:0px auto;
    border:solid;
    border-color:black;
     background: linear-gradient(blue,red);
}
.event{
    width:100%;
    margin-bottom:50px;
    border:solid;
    border-color:black;
}
.name{
   width:100%;
   border:solid;
   border-color:black;
   text-align: center;
   color:white;
   font: 100%/1.5 "Roboto", Verdana, sans-serif;
    -webkit-transition:opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
}
.ls{
    width:70%;
    height:100px;
    border:0px solid black;
    display: inline-block;
    font: 100%/1.5 "Roboto", Verdana, sans-serif;
    color:white;
    text-align:center;
}
.pd{
    width:29%;
    /*height:100px;*/
    display: inline-block;
    border: 5px solid black;
    font: 100%/1.5 "Roboto", Verdana, sans-serif;
    color:white;
}
.location{
    width:auto;
    height:25px;
    border:solid black;
    text-align: center;
    color:white;
     -webkit-transition:opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
}
.summary{
    width:100%;
    border:solid black;
     -webkit-transition:opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
}
.picture{
    width:auto;
    border:black solid;
}
.picture img {
    width: 100%;
}
.date{
    height:60px;
    border:black solid ;
    font: 100%/1.5 "Roboto", Verdana, sans-serif;
    -webkit-transition:opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
}
.name:hover{
    font-size:20px;
    background:#1ec7e6;
    color:black;
}
.date:hover{
    font-size:20px;
    background:#1ec7e6;
    color:black;
    height:93px;
}.summary:hover{
    font-size:25px;
    background:#1ec7e6;
    color:black;
}.location:hover{
    font-size:20px;
    background:#1ec7e6;
    height:35px;
    color:black;
}
/*How the page supposed to look when it loads*/
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1001;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {

transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader {
    opacity: 0;
}
.loaded #loader-wrapper {
    visibility: hidden;
}